@import url('https://fonts.googleapis.com/css?family=Roboto');
#reviewsLoader h1,#reviewsLoader h2, #reviewsLoader h3,#reviewsLoader h4,#reviewsLoader h5,#reviewsLoader h6,#reviewsLoader p,#reviewsLoader span, #reviewsLoader a{
	font-family: 'Roboto', sans-serif !important;
}
#reviewsLoader h1{
	font-size:25px;
}
#reviewsLoader h1,#reviewsLoader h2{
	padding-top:30px;
	font-weight: bold;
	padding-bottom:10px;
}
#reviewsLoader textarea{
	width: 100%;
	font-family: Roboto;
	padding: 10px;
 }
#reviewsLoader  .tab {
	overflow: hidden;
	border: 1px solid #454242;
	border-radius: 10px 10px 0px 0px;
	background-color: #474444;

}

#reviewsLoader .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-weight: bold;
	font-family: Roboto;
	font-size: 17px;
	color: #ffffff;
}

#reviewsLoader .tab button:hover {
    background-color: #ddd;
}

#reviewsLoader .tab button.active {
	background-color: #343232;
}

#reviewsLoader .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

#reviewsLoader ul {
	list-style-type: none;
}
#reviewsLoader #submit-review{
	padding: 50px;
}
#reviewsLoader #stars{
	max-width: 600px;
}
#reviewsLoader #storeReview{
	padding: 10px;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #666666;
	cursor: pointer;
	color: white;
	border: 0;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #555555;
	border-radius: 0px 0px 5px 5px;
	-webkit-transition: background 1s;
	transition: background 1s;
	display: block;
	text-align: center;
	box-sizing: border-box;
}
#reviewsLoader #submit-review input[type='submit']:hover{
	background-color: #c8c8c8;
}
#reviewsLoader star-rating-submit {
	font-family: 'Ionicons';
	font-size: 48px;
	display: inline-flex;
	cursor: pointer;
}


#reviewsLoader star-rating-submit > .star::after{
	content: '\f3ae';
	color: #777;
}

#reviewsLoader star-rating-submit > .star.full::after {
	content: '\f2fc';
	color: #fd0;
}

#reviewsLoader star-rating {
	font-family: 'Ionicons';
	font-size: 20px;
	display: inline-flex;
	cursor: pointer;
}

#reviewsLoader star-rating > .star::after{
	content: '\f3ae';
	color: #777;
}

#reviewsLoader star-rating > .star.full::after {
	content: '\f2fc';
	color: #fd0;
}
#reviewsLoader #numStars {
	/*border: 2px solid grey;*/
}

#reviewsLoader #rating-1 {
	margin: 0;
	padding: 8px 0px 0px 15px;
	font-size: 30px;
	display: inline-flex;
	font-family: Roboto;
}


#reviewsLoader #comment {
	height: 150px;
	width: 600px;
}

#reviewsLoader #starlist i {
	display: inline-block;
	float: left;
	color: #fd0;
}

#reviewsLoader #starlist span {
	padding-left: 2px;
	padding-right: 2px;
	color: black;
}

#reviewsLoader .progressBG {
	border-radius: 10px;
	background-color: grey;
	width: 300px;
	height: 10px;
	margin-top: 4px;
	display: inline-block;
	float: left;
}

#reviewsLoader .progress {
	border-radius: 10px;
	background-color: lightblue;
	width: 75%;
	height: 10px;
	display: inline-block;
	float: left;
}
#reviewsLoader #review{
	overflow: hidden;
	padding: 0px 50px 0px 50px;
}
#reviewsLoader{
	margin: 50px;
	overflow: hidden;
}
#reviewsLoader #reviewWrapper{
	border: 1px solid #e6e6e6;
	position:relative;
}
#reviewsLoader #reviewBody{
	padding-left: 0;
	margin-left: 0;
}
#reviewsLoader .reviewContent{
	background-image: linear-gradient(white 70%, #e6e6e6);
	min-height: 75px;
	padding: 20px;
	border-bottom: 1px solid #b4b0b0;
}

#reviewsLoader .reviewContent-1 {
	float: left;
	font-size: 12px;
	width: 150px;
	height: 70px;
	margin-right: 20px;
	padding-left: 35px;
	padding-top: 30px;
}

#reviewsLoader .reviewContent-2 {
	padding-left: 175px;
}

#reviewsLoader .reviewTitle {
	font-size: 20px;
	margin-bottom: 9px;
	font-weight: bold;
}

#reviewsLoader .reviewCon {
	padding-left: 20px;
}
#reviewsLoader #more-container{
	display: block;
	text-align: center;
	background-color: #666666;
	font-weight: bold;
	border-radius: 0px 0px 5px 5px;
	width:100%;
}

#reviewsLoader #more {
	text-decoration: none;
	background-color: inherit;
	width: 100%;
	padding: 20px 0px 20px 0px;
	color: white;
	display: block;
	text-shadow: 1px 1px 1px #555555;
	border-radius: 0px 0px 5px 5px;
	-webkit-transition: background 1s; /* Safari */
	transition: background 1s;
	cursor: pointer;
}
#reviewsLoader #more:hover{
	background-color: #c8c8c8;
}

#reviewsLoader #recommendations{
	display: inline-flex;
	overflow-x: auto;
}
#reviewsLoader .recommendationBtn{
	text-align: center;
	display: inline-block;
	width: 80%;
	background-color: #433c3c;
	padding: 20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none !important;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#reviewsLoader .recommendationBtn:hover{
	background-color: grey;
}
#reviewsLoader .recoBody {
	float: left;
	margin-right: 20px;
	margin: 20px;
	min-width: 259px;
	min-height: 250px;
	max-width: 259px;
	/*border: 2px solid black;*/
	border-radius: 3px;
	/*box-shadow: 2px 2px grey;*/
	padding: 10px;
}

#reviewsLoader .recoContent p {
	margin-bottom: 0px;
}
#reviewsLoader .recommendationName{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
#reviewsLoader .recommendationDescription{
	min-height: 75px;
	max-height: 75px;
	overflow: hidden;
}
#reviewsLoader .recommendationImg {
	min-height: 150px;
	min-width: 259px;
	max-height: 150px;
	max-width: 259px;
	/*border: 2px solid black;*/
}

#reviewsLoader #more_reco {
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	line-height: 150px;
}
#reviewsLoader .star_rating {
	overflow: hidden;
	vertical-align: bottom;
	display: inline-block;
	width: auto;
	height: 30px;
}

#reviewsLoader .star_rating > input {
	opacity: 0;
	margin-right: -100%;
}

#reviewsLoader .star_rating > label {
	position: relative;
	display: block;
	float: right;
	content: "\f2fc";
	font-family: 'Ionicons';
	background-size: 30px 30px;
}

#reviewsLoader .star_rating > label:before {
	display: block;
	opacity: 0;
	content: '';
	width: 30px;
	height: 30px;
	content: "\f2fc";
	font-family: 'Ionicons';
	background-size: 30px 30px;
	transition: opacity 0.2s linear;
}

#reviewsLoader .star_rating > label:hover:before,  .star_rating > label:hover ~ label:before,  .star_rating:not(:hover) > :checked ~ label:before {
 	opacity: 1; 
 }
#response{
	display: block;
	width: 100%;
	padding: 20px 0px 20px 50px;
	color: white;
	font-weight: bold;
}
#response.success{
	background-color: #54df54;
}
#response.failure{
	background-color:#d13f3f;
}
#response-msg{

}
#loading-overlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: white;
	opacity: 0.8;
	text-align: center;
}